KINDE_CLIENT_ID=Kinde Client ID
KINDE_CLIENT_SECRET=Kinde Client Secret
KINDE_ISSUER_URL=Kinde Issuer URL
KINDE_SITE_URL=http://localhost:3000 
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000 
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/api/auth/success 
MONGODB_URL=MongoDB Connection URL
UPLOADTHING_SECRET=Uploadthing secret
UPLOADTHING_APP_ID=Uploadthing App ID